/*-----------------------------------------------------*/
/*PAGINA DE INICIO. ANTES DE QUE EL USUARIO SE REGISTRE*/
/*-----------------------------------------------------*/

/*Botones del header*/
header div:last-child a{
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  color: var(--primary-dark);
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.4s;
  line-height: 1.25rem;
  
  &:first-child{
    background-color: #e1f6fb;
    
    &:hover{     
      background-color: rgb(79 195 247 / 0.8);      
      box-shadow: 0 4px 6px 1px var(--shadow-md);
    }
  }

  &:last-child{
    background-color: transparent;
    border: 1px solid var(--border);
    
    &:hover{   
      background-color: rgb(243 244 246);
      box-shadow: 0 4px 6px 1px var(--shadow-md);
    }
  }
}

/*Hero*/
main > section:nth-child(1){
  height: 605px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1{
    font-size: 5.5rem;
    padding-top: 36px;
    font-weight: 900 ;
    display: block;

    span{
      background-image: linear-gradient(to right, #0277BD, #4FC3F7);
      background-clip: text;
      -webkit-text-fill-color: transparent
    }
  }
}


/*Explora por categorias*/
main > section:nth-child(2){
  background-color: white;
  padding: 4rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  header{
    text-align: center;
    margin-bottom: 3rem;
    flex-direction: column;
    border: none;
    gap: 0rem;
    
  }

  h1{
    font-size: 3.25rem;
    font-weight: 800;
    display: block;
  }

  footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    border: none;
    
  }
}

.categorias{
  background-color: var(--card-bg);
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0px 5px 7px 4px var(--shadow);
  border: 1px solid var(--border);
  justify-items: center;

  h2{
    font-size: 1.5rem;
    color: var(--primary-dark);
    margin-bottom: 0.5rem;
    font-weight: 700;
  }

  button{
    color: var(--primary-dark);
    box-shadow: 3px 3px 3px 3px var(--shadow);
    background-color: #e1f6fb;
    border:none;
    border-radius: 1rem;
    padding: 0.75rem 1rem;
    font-size: 0.875rem;
    font-weight: 540;
    margin: 0.5rem;
    cursor: pointer;
    transition: color 0.3s;
    display: inline-block;
  }

  button:hover{
    color: white;
    background-color: var(--primary);
    transform: translateY(-1.5px);
  }

}

/*Recomendaciones destacadas*/
main > section:nth-child(3){

  padding: 4rem 3rem;
  text-align: center;

  header{
    flex-direction: column;
    background-color: var(--background);
    text-align: center;
    align-content: center;
    margin-bottom: 4.5rem;
    border: none;
    gap: 0rem;
    
    h1{
      font-size: 3.25rem;
      font-weight: 800;
      display: block;
    }
  }

  footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto 3rem;
  }

  div{
    text-align: center;
    margin-top: 0rem;
    a{
      color: var(--text-secondary);
      text-decoration: none;
      padding: 8px 15px;
      display: inline-block;
      align-content: center;

      font-weight: 560;
      font-size: 0.9rem;
      width: 40px;
      height: 40px;
    }
  }
}

.active{
  background-color: var(--primary);
  color: white;
  border-radius: 50%;
  font-weight: 800;
  line-height: 1.25rem;
  box-shadow: 0 20px 25px -5px  rgb(126, 126, 126);
}

.recomendaciones{
  padding: 0rem;
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
  text-align: center;

  &:hover{
    transform:translateY(-8.5px) ;
  }

  img{
    border-radius: 2rem;
    box-shadow: 0 20px 25px -5px  var(--shadow);
    width: 100%;
    height: auto;
    display: block
  }

  h2{
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin-top: 1.5rem;
  }

  p{
    color: var(--text-secondary);
    font-weight: 4120;
  }

}

