/*-------------------------------------*/
/*PAGINA HOME CUANDO EL USUARIO INGRESA
ACA ESTA LA SECCION PARA BUSCAR LAS CANCIONES
EL HMTL ES "HOME.HTML"*/
/*-------------------------------------*/

main{
  background: #7ac1ff;
  background: linear-gradient(0deg, rgba(122, 193, 255, 1) 0%, rgba(153, 236, 255, 1) 44%, rgba(228, 247, 247, 1) 75%, rgba(255, 255, 255, 1) 93%);
}

/*Botones del header*/
header div:nth-child(2){
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-left: 1rem;
  gap: 2rem;
  width: 25%;
  height: 50%;

  .btn-nav{
    display: flex; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
    
    width: 3rem;
    height: 3rem;
    
    border: none;
    background:rgb(238, 237, 237);
    padding: 0;
  }
  
  img{
    height: 50px;
    border-radius: 50%;
  }

}

main > section:first-child > div:first-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 330px;
  position: sticky;
  top: 0; 
  z-index: 5;
}

main > section:first-child > div:first-child h1 {
  font-size: 4rem;
  color: black;
  max-width: 40rem;
}

button[type="submit"]{
  height: 3rem;
  &:hover{
    outline: none;
  }
}

main > section:nth-child(3){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:0rem;

  footer{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto 3rem;
  }
  
  h1{
    text-align: center;
    margin: 1rem 1rem;
  }
}

.ambiente{
  padding: 0rem;
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
  text-align: center;
  max-width: 150px;
  max-height: 200px ;
  
  &:hover{
    transform: translateY(-4px);
  }

  img{
    border-radius: 2rem;
    box-shadow: 0 20px 25px -5px  var(--shadow);
    width: 100%;
    height: auto;
    display: block
  }

  h2{
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin-top: 1.5rem;
  }

  p{
    color: var(--text-secondary);
  }
}

/*MENU DESPLEGABLE AL DARLE AL ICONO DEL PERFIL*/
.menu{
  position: absolute;
  display: none;
  width: 100%;
  margin: auto;
  margin-top: 70px;
  z-index: 50;
}

.menu ul{
  position: absolute;
  list-style: none;
  background-color: rgb(203, 207, 207);
  top:100%;
  right: 0;
  border-radius: 1rem;
  
}

.menu ul li button{
  width: 100%;
  text-decoration: none;
  padding: 10px;
  border-radius: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu ul li button:hover{
  background-color: rgb(241, 241, 236);
  border-radius: 1rem;
  outline: 2px solid black;
  outline-offset: -2px;
  color: black;
}

.menu li button{
  display: flex;
  align-items: center;
  gap: 10px;

  text-decoration: none;
  padding: 10px;
  color: black;

  ion-icon{
    align-items: center;
    align-content: center;
    font-size: 25px;
  }

  h2{
    font-weight: 400;
    font-size: 15px;
  }
}

.menu-active{
  display: block;
}